{% extends 'layouts/main.twig' %}
{% block jumbotron %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">

            <p>Хиты в секунду</p>
            <div class="realtime-graph-axis"></div>
            <div class="realtime-graph-container">
                <div class="realtime-graph realtime-graph-wide realtime-height-120" data-id="0" id="graph-0"></div>
                <hr>
                <p>Количество TIME_WAIT-ов</p>
                <div class="realtime-graph realtime-graph-wide realtime-height-120" data-id="1" id="graph-1"></div>
                <div class="realtime-graph-axis-rule"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <p><i>Всего хитов в базе данных: <b>{{ clicks_count|number_format(0, '.', ' ') }}</b></i></p>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ get_param('baseUrl') }}js/vendor/d3.v2.js"></script>
    <script type="text/javascript" src="{{ get_param('baseUrl') }}js/vendor/cubism.v1.js"></script>
    <script type="text/javascript" src="{{ get_param('baseUrl') }}js/app/realtime-graphs.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            realtimeGraphs.init([0, 1], '{{ create_url('main/overallstats') }}', $('.realtime-graph').width(), $('.realtime-graph').height());
        });
    </script>
{% endblock %}