{% extends 'layouts/main.twig' %}
{% block content %}
    <form class="form-horizontal" role="form" action="{{ create_url('sites/edit') }}" method="post">
        {% if site.site_id %}
            <input type="hidden" name="site_id" value="{{ site.site_id }}">
        {% endif %}
        <div class="form-group">
            <label for="site_uid" class="col-sm-2 control-label">UID</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="site_uid" name="site_uid" value="{{ site.site_uid }}" placeholder="Лучше руками не изменять">
            </div>
        </div>
        <div class="form-group">
            <label for="domain" class="col-sm-2 control-label">Домен</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Например, vk.com" name="domain" id="domain" value="{{ site.domain }}">
            </div>
        </div>
        <div class="form-group">
            <label for="request_threshold" class="col-sm-2 control-label">Порог</label>
            <div class="col-sm-2">
                <input type="number" class="form-control" placeholder="Например, 4" name="request_threshold" id="request_threshold" value="{{ site.request_threshold }}">
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-2 control-label">Офферы</label>
            <div class="col-sm-6">
                <div class="leads"></div>

                <a class="btn btn-xs js-add-lead vcenter-xsbutton" href="#"><span class="glyphicon glyphicon-plus"></span> Добавить оффер</a>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="alert alert-danger js-alert" style="display: none;"></div>

                <button type="submit" class="btn btn-success" id="js-save-button"><span class="glyphicon glyphicon-ok"></span> <span id="js-save-button-text">Сохранить</span></button>
                <a href="
                {% if site.site_id %}
                    {{ create_url('sites/view', {site_id: site.site_id}) }}
                {% else %}
                    {{ create_url('sites/index') }}
                {% endif %}
                " class="btn btn-default">Отменить</a>
            </div>
        </div>
    </form>
{% endblock %}
{% block scripts %}
    <script type="text/template" id="lead-template">
        <div class="panel panel-default vk-lead">
            <div class="panel-heading">
                <a class="btn btn-xs pull-right vcenter-xsbutton js-remove-lead" href="#"><span class="glyphicon glyphicon-remove"></span> Удалить</a>
                <input type="text" class="vk-lead-caption" placeholder="Заголовок. Например, &laquo;Кредитная карта онлайн&raquo;" name="leads[<%= group_id %>][caption]" id="" value="<%= caption %>">
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="" class="col-sm-2 control-label">vk_lead_id</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="number" class="form-control vk-lead-id-input" placeholder="Например, 6513" name="leads[<%= group_id %>][id]" id="" value="<%= vk_lead_id %>">
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-sm-3">
                        <label for="" class="col-sm-2 control-label">secret</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="Например, ab7c1e00f" name="leads[<%= group_id %>][secret]" id="" value="<%= secret %>">
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/javascript" src="{{ get_param('baseUrl') }}js/vendor/underscore-min.js"></script>
    <script type="text/javascript" src="{{ get_param('baseUrl') }}js/app/tools.js"></script>
    <script type="text/javascript" src="{{ get_param('baseUrl') }}js/app/modules/sites-edit.js"></script>
    <script type="text/javascript">
        var leads = {{ leads|json_encode|raw }};
        Pixelf.Modules.SitesEdit.init(leads);
    </script>
{% endblock %}